@font-face {
    font-family: 'Saira';
    src: url('/src/assets/fonts/Saira.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url('/src/assets/fonts/Orbitron.woff2') format('woff2');
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}
